# unpacked plugin folders
plugins/**/*

# files directory where uploads go
files

# DBMigrate plugin: generated SQL
db/sql

# AssetBundler plugin: generated bundles
javascripts/bundles
stylesheets/bundles
ProjectEventApi/obj/Debug/netcoreapp3.1/ProjectEventApi.assets.cache
/ProjectEventApi/obj
/ProjectEventApi/bin/Debug/netcoreapp3.1
/.vs/Eventhub
/bin/Debug
/obj
/WebMvc/bin/Debug/netcoreapp3.1
/WebMvc/obj
/TokenServiceApi/bin/Debug/netcoreapp2.1
/TokenServiceApi/obj
/CartApi/bin/Debug/netcoreapp3.1
/CartApi/obj
/OderApi/bin/Debug/netcoreapp3.1
/OderApi/obj
/OrderApi/bin/Debug/netcoreapp3.1
/OrderApi/obj
